.title {
  display: inline-block;
  position: relative;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  text-align: center;
  font-style: italic;
}

.title::after {
  content: "";
  margin-left: 25px;
  background-image: url("./img/arrow-down-sign-to-navigate.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  display: inline-block;
  height: 25px;
  width: 25px;
  top: 0;
  right: -35px;
}

.title:hover.title::after {
  transform: rotate(180deg);
}

.jpg {
  background-color: rgb(26, 95, 235);
}

.png {
  background-color: rgb(44, 235, 26);
}
.qwerty {
  background-color: #e79d9d;
  background-image: url(img/alarm.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
